.sidebar {
  position: fixed; /* Fica fixo na tela */
  left: 0;
  top: 0;
  height: 100vh; /* Ocupa 100% da altura da tela */
  width: 250px; /* Largura da sidebar */
  background-color: #2D2D2D; /* Um cinza-chumbo escuro */
  color: #FFFFFF; /* Cor do texto clara */
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.sidebar-logo {
  text-align: center;
  margin-bottom: 30px;
}

.sidebar-logo h1 {
  font-family: 'Arial Black', sans-serif; /* Apenas um exemplo de fonte mais grossa */
  font-size: 2.5rem;
  color: #bdc3c7;
}

.sidebar-menu {
  list-style-type: none; /* Remove as bolinhas da lista */
  padding: 0;
}

.menu-item a {
  display: flex; /* Alinha ícone e texto lado a lado */
  align-items: center;
  color: #ecf0f1;
  text-decoration: none;
  padding: 15px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 1.1rem;
  transition: background-color 0.2s; /* Efeito suave na transição */
}

.menu-item a:hover {
  background-color: #34495e; /* Cor de fundo ao passar o mouse */
}

.menu-icon {
  margin-right: 15px; /* Espaço entre o ícone e o texto */
  font-size: 1.3rem;
  color: #3498db; /* Cor azul para os ícones */
}