.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 200px;
  background-color: #2D2D2D;
  color: #FFFFFF;
  padding: 20px;
}

.sidebar-logo {
  text-align: center;
  margin-bottom: 30px;
}

.logo-img {
  width: 210px;
  height: auto;
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
}

.menu-item a {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  text-decoration: none;
  padding: 15px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 1.1rem;
  transition: background-color 0.2s;
}

.menu-item a:hover {
  background-color: #6e6860;
}

.menu-icon {
  margin-right: 10px;
}