/* frontend/src/index.css */

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #F0F0F0;
}

.app-container {
  display: flex;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  margin-left: 200px;
  transition: margin-left 0.3s;
}