body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #F0F0F0;
  overflow: hidden;
}

html, body, #root, .app-container {
  height: 100%;
}

.app-container {
  display: flex;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}